/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}
.logo-text {
    position: absolute;
    top: -19px;
    left: 20px;
    color: chartreuse;
}
.section-1 {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 46px;
    width: 100%;
    /*height: 100%;*/
    background-color: #fff90a;
}

.section-2 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    /*height: 100%;*/
    background-color: red;

}

.sub-section-3 {
    height: 150px;
    position: relative;
    margin-top: -150px;
    background: white;
}

.feature-border {
    background: #7FFF00;
    height: 10px;
    width: 100%;
    position: relative;
    bottom: 150px;
}
.feature-border-no-off {
    background: #7FFF00;
    height: 10px;
    width: 100%;
}


.feat-item {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
.feat-item:hover {
    background-color: #cacaca;
}

.section-3 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    /*height: 100%;*/
    background-color: rgba(211, 211, 211, 0);

}

.section-4 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    /*height: 100%;*/
    background: linear-gradient(to bottom, #7fff00 20%, #fffc00 80%,#d9d9d9 110%);
}

.section-5 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    /*height: 100%;*/
    background-color: rgba(211, 211, 211, 0.08);

}

.section-6 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #7fff00 20%, #fffc00 80%,#d9d9d9 110%);
    padding-top: 15%;
}

.header {
    height: 46px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;

}

.viewclass {
    height: 100%;
}

.background-slide {
    transition: transform 1.2s cubic-bezier(.645, .045, .355, 1);
}

.background-slide-1 {
    background: #1e6c4d url(./assets/modelsredring.jpg) 20% 50% no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin: 0;
    height: 100%;
}

.three60gif {
    background: #1e6c4d url(./assets/flyaround1green.gif) 20% 50% no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin: 0;
    height: 100%;
}

.background-slide-2 {
    background: #db5c51 url(./assets/1hand.jpeg) 20% 50% no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
}

.background-slide-3 {
    background: #db5c51 url(./assets/yello-w-snap.jpg) 20% 50% no-repeat;
    background-size: cover;
    width: inherit;
    height: inherit;
}

.background-slide-4 {
    background: #db5c51 url(./assets/tealsnap.jpg) 20% 50% no-repeat;
    background-size: cover;
    width: inherit;
    height: inherit;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

input, textarea {
    line-height: normal;
    border: 3px black;
    border-style: solid;
    border-radius: 4px;
    background: lightgoldenrodyellow;
    opacity: 1;
}

.message-form {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    width: 100%;
}

.top-form {
    width: 100%;
}

.name-form {
    margin-right: 10%;
    width: 40%;
    float: left;
}
.sub-input { width: 100%   }

.email-form {
    width: 50%;
    float: right;
}

.contact-text {
    text-align: center;
}


.form {
    margin:auto;
    width: 50%;
}

.submit-form {
    margin: auto;
    width: 50%;
}

.submit-button {
    background: white;
    border: 3px white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: black;
    width: 30%;
    border-style: solid;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1167 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 20px;
    min-width: 220px;
    max-width: 90%;
    /* width: 100%; */
    color: #333;
    text-align: left;
    box-shadow: none !important;
}
figure.snip1167 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip1167 img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* margin: 0 auto; */
    display: block;
    z-index: 1;
    position: relative;
}
figure.snip1167 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 50px 75px 75px 75px;
    font-size: 0.8em;
    font-weight: 500;
    margin: -75px 50px 0;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1167 blockquote:before,
figure.snip1167 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}
figure.snip1167 blockquote:before {
    top: 70px;
    left: 40px;
}
figure.snip1167 blockquote:after {
    content: "\201D";
    right: 70px;
    top: 70px;
}
figure.snip1167 .author {
    padding: 15px;
    margin: -75px 0 0 0;
    text-transform: uppercase;
    color: black;
    text-align: center;
}
figure.snip1167 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}
figure.snip1167 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
}