<div class="header">
    <h1 class="logo-text"><img style="height: 80px" src="https://vectr.com/theonlyhope/BzBIvpOtg9.png"> snapRingz</h1>
</div>
<div ng-style="sectionstyle" class="section-1">
    <figure class="background-slide background-slide-1">
        <!--<figure class="background-slide background-slide-1" >-->
        <!--<figure class="background-slide background-slide-1" >-->

    </figure>
    <button class="button"> Pre-order Now</button>
    <button class="button"> Scroll icon</button>
</div>
<div class="feature-border-no-off"></div>
<div ng-style="sectionstyle" class="section-2">
    <div style="position: relative;height: 0px;"> 360 view/ gif/ colors</div>
    <figure class="three60gif">
</div>
<div class="feature-border-no-off"></div>
<div ng-style="sectionstyle" class="section-3">
    <figure>PICS GO HURRRRR</figure>

</div>
<div class="feature-border"></div>
<div class="sub-section-3">
    <div ng-style="active[0].style" ng-click="switchPic(0)" class="feat-item"> Activate spectacles</div>
    <div ng-style="active[1].style" ng-click="switchPic(1)" class="feat-item"> Quick button select</div>
    <div ng-style="active[2].style" ng-click="switchPic(2)" class="feat-item"> Vibration feedback when snap begin</div>
    <div ng-style="active[3].style" ng-click="switchPic(3)" class="feat-item"> Discrete</div>
    <div ng-style="active[4].style" ng-click="switchPic(4)" class="feat-item"> Charges in case</div>

</div>

<div ng-style="sectionstyle" class="section-4">
    LOL Testimonials
</div>
<div ng-style="sectionstyle" class="section-5"> Pre-order Now / 500 replica giveaway</div>
<div ng-style="sectionstyle" class="section-6">
    <div><h3 class="contact-text">Contact Us</h3></div>
    <div class="form">
        <div class="top-form">
            <div class="name-form"><input class="sub-input"></div>
            <div class="email-form"><input class="sub-input"></div>
        </div>

        <textarea class="message-form"> </textarea>

        <div class="submit-form">
        <button class="submit-button">Submit</button>
        </div>
    </div>

</div>
